<?xml version="1.0" encoding="utf-8"?>
<!-- Version code-1 version name1.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webcamconsult.syl"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <permission
        android:name="com.webcamconsult.syl.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.webcamconsult.syl.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/syl_applaunchericon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name="android.support.multidex.MultiDexApplication">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SYLSplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="seeyoulater" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.webcamconsult.syl.activities.SYLFragmentChangeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme"

            android:windowSoftInputMode="adjustPan" />
        <!-- android:theme="@style/MyTheme" -->

        <activity
            android:name=".activities.SYLBaseActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ExampleTheme" />
        <activity
            android:name=".activities.SYLSigninActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />

        <activity
            android:name=".activities.SYLSignupActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLVerificationCodeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLForgotpasswordActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLHistoryAppointmentsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".guidednavigation.SYLGuidedContactsActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".guidednavigation.SYLGuidedAppointmentsListActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".guidednavigation.SYLGuidedNewAppointmentActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SYLRescheduleappointmentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLRequestnewappointmentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLOpentokcallSenderActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLConfirmedRequestAppointmentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLTodaysAppointmentDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLRequestReceivedAppointmentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLRequestSendActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.SYLCaneledRequestDetailedActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activities.SYLFinishedAppointmentDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".opentok.SYLOpentokAcceptRejectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.webcamconsult.syl" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.SYLGCMNotificationIntentService" />

        <activity
            android:name=".opentok.send.UIActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".opentok.send.HelloWorldActivitySender"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".opentok.send.HelloWorldActivityReceiver"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.webcamconsult.syl.gcm.NotificationReceiverActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".opentok.UIActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.webcamconsult.syl.activities.SYLRequestSendActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".opentok.ClearNotificationService"
            android:exported="false" >
            <intent-filter android:label="@string/clearNotificationService" >
                <action android:name="com.webcamconsult.syl.opentok.ClearNotificationService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".gcm.CallBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.webcamconsult.syl.gcm.CallBroadcastReceiver" />
            </intent-filter>
        </receiver>
        <!--
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9b7c8d9e192eed3c2fad5b4b3b333cd9f3d28213" />
        -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9ad8618d9ba46572a6d24584393d5bcf57176e19" />

    </application>

</manifest>
